@charset "utf-8";

/* base.css
(00)共通コンテンツ
(01)ヘッダー
(02)フッター
 */



/*------------------------------------------------------------------------------------------------------------------------*/
/* (00)共通コンテンツ */
/*------------------------------------------------------------------------------------------------------------------------*/
 
img, object, embed, video {
	max-width: 100%;
}
.ie6 img {
	width:100%;
}
a{ color:#333333; text-decoration: none;}
a:link{ color:#333333; text-decoration: none;}
a:visited{ color:#333333; text-decoration: none;}
a:hover{ color:#333333; text-decoration: underline;}

a:focus, *:focus { outline:none; }

a img:hover{opacity: 0.5; transition:all 0.5s ease 0s;}

p{ margin:0;}

.tal{ text-align:left;}
.tac{ text-align:center;}
.tar{ text-align:right;}


.sp  { display:none}
.pc  { display:inherit;}
@media only screen and (max-width: 750px) {
	.sp  { display:inherit}
	.pc  { display:none;}
}


#contents{
	margin: 100px 0 0 0;
	padding:0 0 0 0;
	width: 100%;
}
.wrapper{
	max-width:980px;
	width: 100%;
	margin:0 auto;
}
.wrapper2{
	max-width:660px;
	width: 100%;
	margin:0 auto;
}
@media only screen and (max-width:1080px) {
	.wrapper{
		width: calc(100% - 40px);
		margin: 0 auto;
	}
}
@media only screen and (max-width:800px) {
	#contents{
		margin: 60px 0 0 0;
		padding:0 0 0 0;
		width: 100%;
	}
}

/* ドットライン */
.line_dot{
	width:100%;
	height: 20px;
	background: url(../images/bg_dot.png) ;
	background-size: 8px;
}




/*------------------------------------------------------------------------------------------------------------------------*/
/* (01)ヘッダー */
/*------------------------------------------------------------------------------------------------------------------------*/
header{
	background: #1f4f8b;
	padding: 20px 0;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #FFFFFF;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0;
}
header .sp-header{
	display: none;
}
/* PC用ヘッダー */
header .head_inbox{
	width:calc(100% - 10px);
	margin: 0 auto;
}
header .pc-header .logo{
	display:inline-block;
	width:calc(100% - 60px);
	max-width: 55px;
    vertical-align: middle;
}
header .pc-header .head-right,
header .pc-header .menu,
header .pc-header .menu nav ul,
header .pc-header .menu nav ul li{
	display: inline-block;
	vertical-align: middle;
}
header .pc-header .head-right{
	width: 200px;
	text-align: right;
	float: right;
}
header .pc-header .menu{
	width: 100%;
}
header .pc-header .head-right nav{
	margin:	0;
}
header .pc-header .head-right nav ul{
	margin:	10px 0;
}
header .pc-header .head-right nav li{
	margin: 0 0 0 10px;
	font-size: 14px;
}
header .pc-header .head-right nav li.mypage{
	font-size: 16px;
	font-weight: bold;
	margin: 0 10px;
}
header .pc-header .head-right nav li.logout{
	border-right: solid 2px #cccccc;
	padding:  0 20px 0 0;
	font-weight: bold;
}
header .pc-header .head-right nav li.ja::after{
	content: "/";
	margin: 0 0 0 15px;
	
}
header .pc-header .head-right nav li a:link   { color: #FFFFFF; text-decoration: none;}
header .pc-header .head-right nav li a:visited{ color: #FFFFFF; text-decoration: none;}
header .pc-header .head-right nav li a:hover  { color: #FFFFFF; text-decoration: none;}
header .pc-header .head-right nav li.mypage a:link   { color: #1980e4; text-decoration: none;}
header .pc-header .head-right nav li.mypage a:visited{ color: #1980e4; text-decoration: none;}
header .pc-header .head-right nav li.mypage a:hover  { color: #1266b8; text-decoration: none;}

header p.title, header p.subtitle, header h1 {
	margin: 0;
	margin-right: 7px;
    display: inline-block;
    font-family: "ヒラギノ角ゴ Pro W6", "游ゴシック", YuGothic, "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
    vertical-align: middle;
}
header p.title {
	font-size: 26px;
	font-weight: bold;
}
header p.subtitle {
	font-weight: 400;
    font-size: 14px;
}

#global-nav{
	display:none;
}


/* SP用ヘッダー */
@media screen and (max-width: 800px) {
	header{
		height: 60px;
	}
	header .head-scroll{
        position: fixed;
		top: 0;
	}
	header .sp-header{
		display:inherit;
		background: #1f4f8b;
		z-index:99999;
		width: 100%;
        height: 60px;
		position: relative;
	}
	header .pc-header,
	.clone-nav{
		display:none;
	}
	header h1{
		text-align: center;
		margin: 0;
		padding: 10px 0;
		font-size: 9px;
	}
	#top-head,
    .inner {
        width: 100%;
        padding: 0;
    }
    #top-head {
        top: 0;
        position: fixed;
        margin-top: 0;
		line-height: 1;
		z-index: 999;
    }
	header .logo{
		padding:10px 10px;
		width: 40px;
        display: inline-block;
        vertical-align: middle;

	}
	header .logo img{
		width: 100%;
	}
	/* Toggle Button */
	#nav-toggle {
		position: absolute;
		right: 20px;
		height: 36px;
		top:10px;
		cursor: pointer;
		z-index: 101;
	}
	#nav-toggle div {
		position: relative;
		font-size: 9px;
		font-weight: bold;
		color: #3B8926;
		display: inline-block;
		width: 40px;
		height: 40px;
		vertical-align: middle;
	}
	#nav-toggle div.text{
		height: 25px;
		line-height: 130%;
	}
	#nav-toggle span {
		display: block;
		position: absolute;
		height: 4px;
		width: 34px;
		background: #FFFFFF;
		border-radius: 10px;
		left: 0;
		-webkit-transition: .35s ease-in-out;
		-moz-transition: .35s ease-in-out;
		transition: .35s ease-in-out;
	}
	#nav-toggle span:nth-child(1) {
		top: 6px;
	}
	#nav-toggle span:nth-child(2) {
		top: 17px;
	}
	#nav-toggle span:nth-child(3) {
		top: 28px;
	}
    /* Fixed reset */
    #mobile-head {
		text-align: left;
    }
    #global-nav {
		display: inherit;
        position: fixed;
		top:-500px;
        background: #FFFFFF;
        width: 100%;
        text-align: center;
        padding: 10px 0 0 0;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
		width: 100%;
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
	#global-nav section{
		border-bottom: solid 2px #FFFFFF;
		text-align: left;
		font-weight: bold;
		padding: 20px 30px 10px;
		font-size: 13px;
	}
	#global-nav section ul{
		margin: 0;
		padding: 0;
	}
	#global-nav section ul li{
		padding: 0 0 40px 0;
		font-size: 16px;
		text-align: center;
	}
	#global-nav section a:link   { color: #475160; text-decoration: none;}
	#global-nav section a:visited{ color: #475160; text-decoration: none;}
	#global-nav section a:hover  { color: #303742; text-decoration: none;}
	#global-nav section li.mypage a:link   { color: #1980e4; text-decoration: none;}
	#global-nav section li.mypage a:visited{ color: #1980e4; text-decoration: none;}
	#global-nav section li.mypage a:hover  { color: #1266b8; text-decoration: none;}

    /* #nav-toggle 切り替えアニメーション */
    .open #nav-toggle span:nth-child(1) {
        top: 16px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 16px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
    }
    /* #global-nav スライドアニメーション */
    .open #global-nav {
		top:60px;
    }
    
    .head-area02 {
		line-height: 1.3;
        display: inline-block;
        padding: 10px 0 10px 0;
        vertical-align: middle;
	}
	header p.subtitle {
		font-size: 1.8vw;
		font-weight: bold;
        display: block;
	}
	header p.title {
		font-size: 2.7vw;
        display: block;
	}
}




/*------------------------------------------------------------------------------------------------------------------------*/
/* (07)footer                                                                                                             */
/*------------------------------------------------------------------------------------------------------------------------*/
footer{
	font-size: 14px;
	font-weight: normal;
	margin: 150px 0 0 0;
	padding:50px 0 50px 0;
	width: 100%;
	position: relative;
    background: #1f4f8b;
}
footer a:link   { color: #FFFFFF; text-decoration: none;}
footer a:visited{ color: #FFFFFF; text-decoration: none;}
footer a:hover  { color: #FFFFFF; text-decoration: underline;}
footer .logo{
	text-align: right;
	margin: 50px 50px 20px 0;
}
footer .logo img{
	width:270px;
}
footer nav,
footer nav ul{
	display: inline-block;
}
footer nav ul{
	margin: 0 0 0 50px ;
}
footer nav li{
	display: inline-block;
	margin: 0 20px 0 0;
}
footer .copy{
	color: #FFFFFF;
	display: inline-block;
	float: right;
	font-size: 12px;
	margin: 0 50px 0 0;
}
@media screen and (max-width: 1000px) {
	footer{
		padding:5vw 0 5vw;
	}
	footer .copy{
		left:-60px;
		font-size: 9px;
	}
}
@media screen and (max-width: 800px) {
	footer{
		font-size: 12px;
		margin:15vw 0 0;
		width:100%;
		text-align: center;
	}
	footer .logo{
		text-align: center;
		margin: 30px 10px 20px 10px;
	}
	footer .copy{
		font-size: 9px;
		text-align: center;
		float: none;
		display: block;
		margin: 0;
	}
	footer nav{
		display:none;
	}
}


/*------------------------------------------------------------------------------------------------------------------------*/
/* CONTACT  */
/*------------------------------------------------------------------------------------------------------------------------*/
.contactArea{
	background: #112649;
	margin: 0;
	padding: 150px 50px;
	font-size: 0;
}
.contactArea a:link{ color:#FFFFFF;}
.contactArea a:visited{ color:#FFFFFF;}
.contactArea a:hover{ color:#FFFFFF;}
.contactArea .left,
.contactArea .right{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	color: #FFFFFF;
}
.contactArea .left{
	width: calc(50% - 50px);
	margin-right: 45px;
}
.contactArea .right{
	width: 50%;
	text-align: center;
}
.contactArea h2{
	margin: 0 0 60px 0;
	font-size: 1px;
}
.contactArea h2 img{
	width: 157px;
}
.contactArea .btn{
	margin:0 0 30px 0;	
}
.contactArea .btn a {
	display: inline-block;
	width: calc(100% - 4px);
	text-decoration: none;
	position: relative;
	z-index: 2;
	background-image: url(../images/arrow01.png);
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: center right 20px;
	background-color:#FFFFFF;
	border: 2px solid #FFFFFF;
	color: #112649;
	overflow: hidden;
	padding: 30px 0;
	font-size: 24px;
	font-weight: bold;
}
.contactArea .btn a::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.contactArea .btn a,
.contactArea .btn a::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.contactArea .btn a:hover {
	color: #FFFFFF;
}
.contactArea .btn a::after {
	top:0;
	left: -100%;
	width: 100%;
	height: 100%;
}
.contactArea .btn a:hover::after {
	top:0;
	left: 0;
	background-color:#112649;
}
.contactArea .tel{
	border:solid 2px #FFFFFF;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.2;
	padding: 25px 0;
}
.contactArea .tel p::before{
	content: "";
	background: url(../images/icn_tel01.png) no-repeat center center;
	background-size: 20px;
	width: 20px;
	height: 24px;
	display: inline-block;
	vertical-align: text-bottom;
	margin: 0 8px 0 0;
}
.contactArea .tel span{
	font-size: 12px;
}
@media only screen and (max-width: 1000px) {
	.contactArea{
		margin: 0;
		padding: 15vw 5vw;
	}
	.contactArea h2{
		margin: 0 0 6vw 0;
	}
	.contactArea h2 img{
		width: 15vw;
		min-width: 100px;
	}
	.contactArea .btn{
		margin:0 0 3vw 0;	
	}
	.contactArea .btn a {
		padding: 3vw 0;
		font-size: 22px;
	}
	.contactArea .tel{
		padding: 2.5vw 0;
	}
}
@media only screen and (max-width: 750px) {
	.contactArea .left,
	.contactArea .right{
		display: block;
		width: 100%;
		margin: 0 0 3vw 0;
		font-size: 12px;
	}
	.contactArea h2{
		margin: 0 0 6vw 0;
	}
	.contactArea .btn a {
		background-image: url(../images/arrow01.png);
		background-size: 2vw;
		padding: 3vw 0;
		font-size: 4.5vw;
	}
	.contactArea .tel{
		font-size: 4.5vw;
		padding: 3vw 0;
	}
	.contactArea .tel p::before{
		background: url(../images/icn_tel01.png) no-repeat center center;
		background-size: 20px;
		width: 20px;
		height: 24px;
		margin: 0 8px 0 0;
	}
	.contactArea .tel span{
		font-size: 2vw;
	}
}




/*------------------------------------------------------------------------------------------------------------------------*/
/* (00)調整用                                                                                                              */
/*------------------------------------------------------------------------------------------------------------------------*/
.w1p{ width:1%!important;}
.w2p{ width:2%!important;}
.w3p{ width:3%!important;}
.w4p{ width:4%!important;}
.w5p{ width:5%!important;}
.w6p{ width:6%!important;}
.w7p{ width:7%!important;}
.w8p{ width:8%!important;}
.w9p{ width:9%!important;}
.w10p{ width:10%!important;}
.w11p{ width:11%!important;}
.w12p{ width:12%!important;}
.w13p{ width:13%!important;}
.w14p{ width:14%!important;}
.w15p{ width:15%!important;}
.w16p{ width:16%!important;}
.w17p{ width:17%!important;}
.w18p{ width:18%!important;}
.w19p{ width:19%!important;}
.w20p{ width:20%!important;}
.w21p{ width:21%!important;}
.w22p{ width:22%!important;}
.w23p{ width:23%!important;}
.w24p{ width:24%!important;}
.w25p{ width:25%!important;}
.w26p{ width:26%!important;}
.w27p{ width:27%!important;}
.w28p{ width:28%!important;}
.w29p{ width:29%!important;}
.w30p{ width:30%!important;}
.w31p{ width:31%!important;}
.w32p{ width:32%!important;}
.w33p{ width:33%!important;}
.w34p{ width:34%!important;}
.w35p{ width:35%!important;}
.w36p{ width:36%!important;}
.w37p{ width:37%!important;}
.w38p{ width:38%!important;}
.w39p{ width:39%!important;}
.w40p{ width:40%!important;}
.w51p{ width:51%!important;}
.w52p{ width:52%!important;}
.w53p{ width:53%!important;}
.w54p{ width:54%!important;}
.w55p{ width:55%!important;}
.w56p{ width:56%!important;}
.w57p{ width:57%!important;}
.w58p{ width:58%!important;}
.w59p{ width:59%!important;}
.w60p{ width:60%!important;}
.w61p{ width:61%!important;}
.w62p{ width:62%!important;}
.w63p{ width:63%!important;}
.w64p{ width:64%!important;}
.w65p{ width:65%!important;}
.w66p{ width:66%!important;}
.w67p{ width:67%!important;}
.w68p{ width:68%!important;}
.w69p{ width:69%!important;}
.w70p{ width:70%!important;}
.w71p{ width:71%!important;}
.w72p{ width:72%!important;}
.w73p{ width:73%!important;}
.w74p{ width:74%!important;}
.w75p{ width:75%!important;}
.w76p{ width:76%!important;}
.w77p{ width:77%!important;}
.w78p{ width:78%!important;}
.w79p{ width:79%!important;}
.w80p{ width:80%!important;}
.w81p{ width:81%!important;}
.w82p{ width:82%!important;}
.w83p{ width:83%!important;}
.w84p{ width:84%!important;}
.w85p{ width:85%!important;}
.w86p{ width:86%!important;}
.w87p{ width:87%!important;}
.w88p{ width:88%!important;}
.w89p{ width:89%!important;}
.w90p{ width:90%!important;}
.w91p{ width:91%!important;}
.w92p{ width:92%!important;}
.w93p{ width:93%!important;}
.w94p{ width:94%!important;}
.w95p{ width:95%!important;}
.w96p{ width:96%!important;}
.w97p{ width:97%!important;}
.w98p{ width:98%!important;}
.w99p{ width:99%!important;}
.w100p{ width:100%!important;}

.w10{ width:10px!important;}
.w20{ width:20px!important;}
.w30{ width:30px!important;}
.w40{ width:40px!important;}
.w50{ width:50px!important;}
.w60{ width:60px!important;}
.w70{ width:70px!important;}
.w80{ width:80px!important;}
.w90{ width:90px!important;}
.w100{ width:100px!important;}
.w110{ width:110px!important;}
.w120{ width:120px!important;}
.w130{ width:130px!important;}
.w140{ width:140px!important;}
.w150{ width:150px!important;}
.w160{ width:160px!important;}
.w170{ width:170px!important;}
.w180{ width:180px!important;}
.w190{ width:190px!important;}
.w200{ width:200px!important;}
.w250{ width:250px!important;}
.w300{ width:300px!important;}
.w350{ width:350px!important;}
.w400{ width:400px!important;}
.w450{ width:450px!important;}
.w500{ width:500px!important;}
.w550{ width:550px!important;}
.w600{ width:600px!important;}
.w650{ width:650px!important;}
.w700{ width:700px!important;}
.w750{ width:750px!important;}
.w800{ width:800px!important;}
.w850{ width:850px!important;}
.w900{ width:900px!important;}

.h10{ height:10px!important;}
.h50{ height:0px!important;}
.h100{ height:100px!important;}
.h150{ height:150px!important;}
.h200{ height:200px!important;}

/* margin-top */
.mt5{ margin-top:5px!important;}
.mt10{ margin-top:10px!important;}
.mt20{ margin-top:20px!important;}
.mt30{ margin-top:30px!important;}
.mt40{ margin-top:40px!important;}
.mt50{ margin-top:50px!important;}
.mt60{ margin-top:60px!important;}
.mt70{ margin-top:70px!important;}
.mt80{ margin-top:80px!important;}
.mt90{ margin-top:90px!important;}
.mt100{ margin-top:100px!important;}
@media only screen and (max-width: 750px) {
	.mt5_sp{ margin-top:5px!important;}
	.mt10_sp{ margin-top:10px!important;}
	.mt20_sp{ margin-top:20px!important;}
	.mt30_sp{ margin-top:30px!important;}
	.mt40_sp{ margin-top:40px!important;}
	.mt50_sp{ margin-top:50px!important;}
	.mt60_sp{ margin-top:60px!important;}
	.mt70_sp{ margin-top:70px!important;}
	.mt80_sp{ margin-top:80px!important;}
	.mt90_sp{ margin-top:90px!important;}
	.mt100_sp{ margin-top:100px!important;}
}

/* margin-left */
.ml5{ margin-left:5px!important;}
.ml10{ margin-left:10px!important;}
.ml20{ margin-left:20px!important;}
.ml30{ margin-left:30px!important;}
.ml40{ margin-left:40px!important;}
.ml50{ margin-left:50px!important;}
.ml60{ margin-left:60px!important;}
.ml70{ margin-left:70px!important;}
.ml80{ margin-left:80px!important;}
.ml90{ margin-left:90px!important;}
.ml100{ margin-left:100px!important;}

/* margin-right */
.mr5{ margin-right:5px!important;}
.mr10{ margin-right:10px!important;}
.mr20{ margin-right:20px!important;}
.mr30{ margin-right:30px!important;}
.mr40{ margin-right:40px!important;}
.mr50{ margin-right:50px!important;}
.mr60{ margin-right:60px!important;}
.mr70{ margin-right:70px!important;}
.mr80{ margin-right:80px!important;}
.mr90{ margin-right:90px!important;}
.mr100{ margin-right:100px!important;}

/* margin-bottom*/
.mb5{ margin-bottom:5px!important;}
.mb10{ margin-bottom:10px!important;}
.mb20{ margin-bottom:20px!important;}
.mb30{ margin-bottom:30px!important;}
.mb40{ margin-bottom:40px!important;}
.mb50{ margin-bottom:50px!important;}
.mb60{ margin-bottom:60px!important;}
.mb70{ margin-bottom:70px!important;}
.mb80{ margin-bottom:80px!important;}
.mb90{ margin-bottom:90px!important;}
.mb100{ margin-bottom:100px!important;}
@media only screen and (max-width: 750px) {
	.mb5_sp{ margin-bottom:5px!important;}
	.mb10_sp{ margin-bottom:10px!important;}
	.mb20_sp{ margin-bottom:20px!important;}
	.mb30_sp{ margin-bottom:30px!important;}
	.mb40_sp{ margin-bottom:40px!important;}
	.mb50_sp{ margin-bottom:50px!important;}
	.mb60_sp{ margin-bottom:60px!important;}
	.mb70_sp{ margin-bottom:70px!important;}
	.mb80_sp{ margin-bottom:80px!important;}
	.mb90_sp{ margin-bottom:90px!important;}
	.mb100_sp{ margin-bottom:100px!important;}
}

/* color */
.red01{ color:#D23E3E;}
.red02{ color:#FF2626;}
.green01{ color:#398726;}
.blue01{ color:#4294B8;}

/* font-size */
.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font20{ font-size:20px;}
.font22{ font-size:22px;}

.strong{ font-weight: bold;}

/* link */
a.link_blue:link{ color:#0090ff; text-decoration: underline;}
a.link_blue:visited{ color:#0090ff; text-decoration: underline;}
a.link_blue:hover{ color:#0090ff; text-decoration: none;}