@charset "UTF-8";
/*-----------------------------------------------------
	common
-----------------------------------------------------*/
body, input, textarea, select {
	font-family: "ヒラギノ角ゴ Pro W6", "游ゴシック", YuGothic, "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.8;
	color: #1f1f1f;
}
.mincho {
	font-family: 游明朝, "Yu Mincho", YuMincho, "Sawarabi Mincho", "Hiragino Mincho ProN", ＭＳ 明朝, メイリオ, Meiryo, serif !important;
}
header .head-area {
	display: flex;
	align-items: center;
	height: 94px;
	color: #fff;
}
header .head-area p.btn {
	margin: 0 0 8px;
}
body {
	margin: 0 auto;
	min-width: 1040px;
	_display: inline;
	_zoom: 1;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: #FFF;
}
.lora {
	font-family: 'Lora', serif;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
	vertical-align: bottom;
}
a {
	text-decoration: none;
	color: #fff;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
a:hover {
	text-decoration: underline;
}
a, a img, #contact button {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
a:hover img, #contact button:hover {
	text-decoration: none;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-table;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/* End hide from IE-mac */
table {
	width: 100%;
}
th {
	text-align: left;
}
input[type="button"], input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 0;
	width: 87%;
	opacity: 0;
}
.inner {
	/*display: flex;*/
	margin: 0 auto;
	width: 1000px;
	justify-content: space-between;
	/*align-items: center;*/
}
#sec06 .inner, #sec02 .inner {
	position: relative;
}
.sp {
	display: none;
}
.ib {
	display: inline-block;
}
.dsc p, .dsc ul, .dsc ol, .dsc dl {
	margin-bottom: 1.5em;
}
.dsc p:last-child, .dsc ul:last-child, .dsc ol:last-child, .dsc dl:last-child {
	margin-bottom: 0;
}
.ymi {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-weight: 500;
}
.ygo {
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	font-size: 14px;
	font-weight: 500;
}
/*.for-fixed {
	padding-top: 70px;
}*/
/* 各ベンダープレフィックスが取れた標準版！！(http://caniuse.com/#search=placeholder-shown) */
:placeholder-shown {
	color: #CCC;
}
/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
	color: #CCC;
}
/* Firefox 18- */
:-moz-placeholder {
	color: #CCC;
	opacity: 1;
}
/* Firefox 19+ */
::-moz-placeholder {
	color: #CCC;
	opacity: 1;
}
/* IE 10+ */
:-ms-input-placeholder {
	color: #CCC;
}
input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder {
	color: transparent;
}
/*-----------------------------------------------------
	header
-----------------------------------------------------*/
header {
	margin: 0 auto;
	background: #1f4f8b;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 99;
}
header .inner {
	position: relative;
}
header p.title, header p.subtitle, header h1 {
	margin: 0;
	margin-right: 7px;
}
header p.title {
	font-size: 26px;
	font-weight: bold;
}
header p.subtitle {
	font-weight: 400;
}
header p.right {
	margin-left: auto;
}
/*-----------------------------------------------------
	content
-----------------------------------------------------*/
article {
	clear: both;
}
section {
	text-align: center;
}
.ttl01 {
	margin-bottom: 60px;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.058em;
}
.ttl01 span {
	margin-bottom: 30px;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.058em;
}
.ttl01 span {
	margin-bottom: 30px;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.058em;
	color: #2c2c2c;/*/非対応のブラウザでの文字色を設定*/
	background: -webkit-linear-gradient( -90deg, rgb(255, 168, 0) 0%, rgb(255, 102, 0) 100%);/*背景色にグラデーションを指定*/
	-webkit-background-clip: text;/*テキストでくり抜く*/
	-webkit-text-fill-color: transparent;/*くり抜いた部分は背景を表示*/
}
table#Default th, table#Default td {
	text-align: center;
}
table#Default th, .tbl01 th {
	padding: 20px 30px;
	box-sizing: border-box;
}
table#Default td, .tbl01 td {
	padding: 20px 30px;
	box-sizing: border-box;
	background: #FFF;
}
/* モーダルウィンドウ */
.lb-nav a {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
	cursor: pointer;
}
.lb-data .lb-number {
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	font-size: 15px !important;
}
/* メインビジュアル */
#mainvisual {
	text-align: center;
	background: url(../images/mainvisual_bg.jpg) no-repeat center bottom;
}
#mainvisual .inner {
	position: relative;
}
#mainvisual .btn {
	position: absolute;
	bottom: 70px;
	left: 60px;
}
.sec01 {
	background: url("../images/sec01_bg.jpg") no-repeat center bottom;
}
.sec02 {
	background: url("../images/sec02_bg.jpg") no-repeat center bottom;
}
.sec03 {
	background: url("../images/sec03_bg.jpg") no-repeat center bottom;
}
.sec04 {
	background: url(../images/sec04_bg.jpg) no-repeat center bottom;
}
.sec05 {
	background: url(../images/sec05_bg.jpg) no-repeat center bottom;
}
.sec06 {
	background: url(../images/sec06_bg.jpg) no-repeat center bottom;
}
.sec07 {
	background: url(../images/sec07_bg.jpg) no-repeat center bottom;
}
.sec08 {
	background: url("../images/sec08_bg.jpg") repeat left top;
}
.sec09 {
	background: url(../images/sec09_bg.jpg) no-repeat center bottom;
}
.sec10 {
	background: url(../images/sec10_bg.jpg) no-repeat center bottom;
}
form {
	margin: 0;
	height: 0;
}
.head-area input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 0;
	width: 30%;
	/* opacity: 0; */
	margin-left: auto;
}
.head-area td {
	display: flex;
	justify-content: space-between;
	position: absolute;
	z-index: 999;
	top: 3rem;
	left: 0;
	right: 28px;
	max-width: 1000px;
	height: 60px;
	margin: 0 auto;
}
.head-area td:first-child {
	display: none;
}
input:hover {
	cursor: pointer;
	cursor: hand;
}
.go_contact .inner {
	position: relative;
}
.go_contact .inner .btn {
	position: absolute;
	width: 82.2%;
	top: 211px;
	right: 0;
	left: 0;
	margin: 0 auto;
}
.go_contact .inner .jinbutsu img {
	max-width: 100%;
}
.validation-error, .require-error {
	color: #ec5175;
	font-size: 12px;
	font-weight: bold;
}
.kome {
	color: #ff0000;
	font-size: 18px;
	font-weight: bold;
}
.kome2 {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}
#copyright {
	/*display: block;*/
	padding: 50px 0 0 0;
}
#copyright p {
	text-align: right;
	color: #fff;
	font-size: 14px;
}
.frmbox #address {
	width: 95%;
}
.frmbox #name, .frmbox #tel, .frmbox #email, .frmbox #email2, .frmbox #message4b, .frmbox #messagetxt {
	width: 80%;
}
.frmbox #messagetxt {
	height: 35vh;
}
.form-title .container {
	position: relative;
}
.form-title .container .form-title-text {
	position: absolute;
	top: 25px;
	left: 35px;
	font-size: 18px;
	font-weight: bold;
	line-height: 32px;
}
/*
#contact .btnbox button {
	margin: 0 3px;
	padding: 11px 5px;
	width: 180px;
	font-size: 16px;
	box-sizing: border-box;
	border: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #FFF;
	cursor: pointer;
}
*/
/*
#contact .btnbox button[type="submit"] { 
border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 129, 60);
  border-radius: 5px;
  background-image: -moz-linear-gradient( 90deg, rgb(255,90,0) 0%, rgb(255,151,95) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,90,0) 0%, rgb(255,151,95) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,90,0) 0%, rgb(255,151,95) 100%);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.004);
}
#contact .btnbox button[type="reset"],
#contact .btnbox button[type="button"] { background: #302b10; }

	button.address {
margin: 17px 0 0 0;
    padding: 6px 15px;
    font-size: 1em;
    color: #fff;
    background: #E7276E;
    border: none;
	}
*/
/*-----------------------------------------------------
	footer
-----------------------------------------------------*/
footer {
	clear: both;
}
footer p {
	font-size: 15px;
}
footer .cntbox {
	background: #272f46;
}
footer .cntbox .inner {
	padding: 0px 0;
	width: 900px;
}
footer .cntbox .inner ul {
	display: flex;
	/*justify-content: center;*/
	align-items: center;
}
footer .cntbox .inner ul .footer-left {
	padding: 20px 35px 20px 0;
}
.footer-left p {
	margin-right: 40px;
}
.footer-left a::before {
	content: "";
	left: 15px;
	box-sizing: border-box;
	width: 15px;
	height: 10px;
	border: 5px solid transparent;
	border-left: 7px solid #fff;
	display: inline-block;
}
footer .cntbox .inner ul .footer-right {
	text-align: left;
	letter-spacing: 1px;
}
footer .cntbox .inner ul li:last-child {
	margin-left: auto;
}
footer .cntbox .inner ul .foot-ttl {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 27px;
}
footer .cntbox .inner ul .foot-sub-ttl {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 17px;
}
footer .cntbox .inner ul .foot-addres {
	font-size: 14px;
	line-height: 1.8em;
	margin-bottom: 5px;
	color: #fff;
}
.footer-center {
	text-align: center;
	padding: 45px 0;
	color: #fff;
	background: #1f508b;
}
.footer-center p.copy_txt {
	font-family: "ヒラギノ角ゴ6", "游ゴシック", YuGothic, "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	font-size: 13px;
}
#page-top {
	display: none;
	position: fixed;
	bottom: 146px;
	right: 50px;
	border: 1px solid #fff;
}
p {
	margin: 0;
}
.mt10 {
	margin-top: 10px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.mt40 {
	margin-top: 40px;
}
.mt50 {
	margin-top: 50px;
}
.mt60 {
	margin-top: 60px;
}
.mt70 {
	margin-top: 70px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb50 {
	margin-bottom: 50px;
}
.mb60 {
	margin-bottom: 60px;
}
.mb70 {
	margin-bottom: 70px;
}
.pt10 {
	padding-top: 10px;
}
.pt20 {
	padding-top: 20px;
}
.pt30 {
	padding-top: 30px;
}
.pt40 {
	padding-top: 40px;
}
.pt50 {
	padding-top: 50px;
}
.pt60 {
	padding-top: 60px;
}
.pt70 {
	padding-top: 70px;
}
.pb10 {
	padding-bottom: 10px;
}
.pb20 {
	padding-bottom: 20px;
}
.pb30 {
	padding-bottom: 30px;
}
.pb40 {
	padding-bottom: 40px;
}
.pb50 {
	padding-bottom: 50px;
}
.pb60 {
	padding-bottom: 60px;
}
.pb70 {
	padding-bottom: 70px;
}
