@charset "utf-8";
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,th {
  text-align: left;
}
q:before,q:after {
  content: '';
}
object,
embed {
  vertical-align: top;
}
hr,legend {
  display: none;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
}
img,abbr,acronym,fieldset {
  border: 0;
}
li {
  list-style-type: none;
}
body {
  background: #FFFFFF;
  color: #333333;
  font-size: 16px;
  font-family: "Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ヒラギノ角ゴ Pro W3",verdana,Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
  line-height: 1.8;
	letter-spacing: 0.2rem;
}
* html body {	/* for IF6 */
  font-family: "ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}
@media only screen and (max-width: 700px) {
	body{
		font-size:14px;
	}
}
@media only screen and (max-width: 500px) {
	body{
		font-size:12px;
	}
}