@charset "utf-8";
@media only screen and (max-width: 767px) {
	/*-----------------------------------------------------
		common
	-----------------------------------------------------*/
	body {
		min-width: inherit;
		font-size: 14px;
	}
	.pc {
		display: none !important;
	}
	.sp {
		display: block !important;
	}
	img {
		display: block;
	}
	header {
		z-index: 999;
		width: 100%;
	}
	.head-area input[type="submit"] {
		width: 100%;
	}
	.inner {
		width: auto;
	}
	.btnbox .inner {
		padding: 15px 3%;
	}
	/*--------------------
		header
	--------------------*/
	header .btn a {
		display: block;
		float: right;
		width: 44%;
		margin-right: 4%;
	}
	header .head-area {
		height: auto;
	}
	.head-area02 {
		line-height: 1.3;
	}
	header h1 {
		width: 12%;
		max-width: 54px;
		margin: 0 7px 0 3vw;
	}
	header p.subtitle {
		font-size: 2.8vw;
		font-weight: bold;
	}
	header p.title {
		font-size: 5.3vw;
	}
	header p.right {
		width: 12.3%;
		max-width: 90px;
		margin: 2vw 3vw 2vw auto;
		margin-right: 3vw;
	}
	/*--------------------
		article
	--------------------*/
	#content img {
		display: block;
	}
	.ttl01 {
		margin-bottom: 15px;
		font-size: 25px;
	}
	/* メインビジュアル */
	#mainvisual {
		background: none;
	}
	#mainvisual .btn {
		position: static;
		padding: 15px 3%;
		text-align: center;
	}
	#mainvisual .btn img {
		width: 75%;
		max-width: 360px;
	}
	.go_contact {
		text-align: center;
		background: #fff;
		padding: 0 0 0 0;
		height: inherit;
		margin-bottom: -2px;
	}
	.go_contact .cart_area {
		top: 78vw;
	}
	.go_contact .inner {
		position: relative;
	}
	.go_contact .inner .btn {
		top: 24vw;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 88.7%;
		max-width: 650px;
	}
	.sec01, .sec02, .sec03, .sec04, .sec05, .sec06, .sec07, .sec08, .sec09, .sec10 {
		background: none;
	}
	/*
  .sec07 .iframe-wrapper {
    position: relative;
    width: 100%;
    padding: calc(315 / 560 * 100%) 0 0;
  }
  .sec07 .iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;z
    height: 100%;
  }
*/
	.kome {
		float: none;
	}
	/*--------------------
		footer
	--------------------*/
	footer .footer-area {
		margin: 6.5vw auto 0vw;
		display: block;
		padding: 5vw 0 7vw;
		width: 100%;
		justify-content: center;
	}
	footer .footer-center {
    padding: 6vw 0;
}
	p.copy_txt {
		font-size: 0.95em;
	}
	footer .footer-area .footer-left {
		float: none;
		justify-content: center;
	}
	footer .footer-area .footer-left p:last-child {
		margin-right: 0;
	}
	footer .footer-area .footer-right {
		float: none;
		text-align: center;
		margin-top: 3vw;
	}
	#page-top {
		right: 2%;
		width: 12%;
		max-width: 50px;
	}
	#copyright p, #copyright p:last-child {
		float: none;
	}
	footer .cntbox {
		padding-bottom: 2vh;
		padding-top: 2vh;
	}
	footer .cntbox .inner #copyright p {
		text-align: center;
	}
	.footer-center p.copy_txt {
    font-size: 3.34vw;
    letter-spacing: 2;
}
	/*.floating {
		position: fixed;
		 right: 8px; 
		bottom: 0px;
		display: none;
		width: 100%;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.floating a {
		text-decoration: none;
	}
	.floating p {
		padding: 3% 4%;
		margin: 0 0 0 0;
	}*/
}
