@charset "utf-8";

/* タイトル */
.main_title{
	background: #f8f8f8;
	border-bottom:solid 1px #cccccc;
	margin: 0 0 50px 0;
	padding: 30px 0;
}
.main_title h1{
	font-size: 22px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
@media only screen and (max-width: 400px) {
	.main_title{
		margin: 0 0 12.5vw 0;
		padding: 7.5vw 0;
	}
	.main_title h1{
		font-size: 5.5vw;
	}
}

h2{
	font-size:18px;
	font-weight: bold;
	color: #444444;
	margin: 0 0 30px 0;
}
@media only screen and (max-width: 400px) {
	h2{
		font-size:4.5vw;
		margin: 0 0 12.5vw 0;
	}
}

.title_line {
    position: relative;
    text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #444444;
}
.title_line::before {
    border-top: 1px solid #cccccc;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}
.title_line span {
    background-color: white;
    display: inline-block;
    padding: 0 0.5em;
	position: relative;
}



/* テーブル1 */
.table1{
	width:100%;
}
.table1 th,
.table1 td{
	vertical-align: top;
}
.table1 th{
	border-bottom:3px solid #1980e4;
	padding: 45px 20px 30px 20px;
	width: 25%;
}
.wrapper2 .table1 th{
	width:35%;
}
.table1 td{
	border-bottom:3px solid #eeeeee;
	padding: 30px 20px;
}
@media only screen and (max-width: 700px) {
	.table1 th,
	.table1 td{
		font-size: 14px;
	}
}
@media only screen and (max-width: 500px) {
	.table1{
		width:100%;
	}
	.table1 th,
	.table1 td{
		display: inline-block;
	}
	.table1 th{
		border-bottom:3px solid #1980e4;
		padding: 20px 15px 10px 15px;
		width: auto;
	}
	.wrapper2 .table1 th{
		width: auto;
	}
	.table1 td{
		border-bottom:3px solid #eeeeee;
		padding: 15px 0;
		width: 100%;
	}
}

/* テーブル2 */
.table2{
	width:100%;
}
.table2 tr{
	border-bottom: 5px solid #FFFFFF;
}
.table2 th,
.table2 td{
	vertical-align: top;
	padding: 25px 20px;
}
.table2 th{
	border-left:3px solid #1980e4;
	width: 35%;
	background: #eeeeee;
}
.table2 td{
	background: #f8f8f8;
}
@media only screen and (max-width: 700px) {
	.table2 th,
	.table2 td{
		font-size: 14px;
	}
}
@media only screen and (max-width: 500px) {
	.table2 th,
	.table2 td{
		padding: 20px 15px 20px 15px;
	}
}

/* テーブル3 */
.table3{
	width:100%;
}
.table3 th,
.table3 td{
	vertical-align: top;
}
.table3 th{
	padding: 25px 20px 25px 0;
	width: 28%;
	border-bottom:1px solid #CCCCCC;
}
.table3 td{
	padding: 25px 0;
	border-bottom:1px solid #CCCCCC;
}
@media only screen and (max-width: 700px) {
	.table3 th,
	.table3 td{
		font-size: 14px;
	}
}
@media only screen and (max-width: 500px) {
	.table3{
		width:100%;
	}
	.table3 th,
	.table3 td{
		display: inline-block;
	}
	.table3 th{
		padding: 20px 0 5px 0;
		width: 100%;
		border: none;
	}
	.table3 td{
		padding: 0 0 20px 0;
		width: 100%;
	}
}




/* フォーム */
input[type="text"],
input[type="mail"],
input[type="tel"],
input[type="password"],
textarea{
	background: #f8f8f8;
	padding: 15px;
	border:none;
	width: calc(100% - 30px);
	font-size: 16px;
	vertical-align: middle;
}
textarea{
	height: 330px;
}
p.error{
	color: #FF3682;
	font-size: 14px;
	font-weight: normal;
	margin: 5px 0 0 0;
	letter-spacing: 0.1rem;
}
p.error:empty{
	display: none;
}
input[type=checkbox]{
	display: none;
	margin: 0;
}
input[type=checkbox] + label{
	padding: 0 0 0 30px;
	position:relative;
}
input[type=checkbox] + label::before{
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 22px;
	height: 22px;
	margin-top: -7px;
	background: #f8f8f8;
	border: none;
}
input[type=checkbox]:checked + label::after{
	content: "";
	position: absolute;
	top: 5px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	left: 3px;
	width: 17px;
	height: 12px;
	margin-top: -6px;
	border-left: 3px solid #1980e4;
	border-bottom: 3px solid #1980e4;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.btn{
	text-align: center;
	margin: 50px 0 0 0;
}
.btn_entry input,
.btn_entry button,
.btn_entry a{
	width: 360px;
}
.btn_confirm input,
.btn_confirm button,
.btn_confirm a{
	width: 250px;
	margin: 0 20px;
}
input.btn1,
button.btn1,
a.btn1{
	border:solid 3px #1980e4;
	background: #FFFFFF;
	color: #1980e4;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0;
	display: inline-block;
	border-radius: 50px;
	transition: all .3s;
}
input.btn1:hover,
button.btn1:hover,
a.btn1:hover{
	background: #1980e4;
	color: #FFFFFF;
	transition: all .3s;
}
input.btn2,
button.btn2,
a.btn2{
	border:solid 3px #1980e4;
	background: #1980e4;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0;
	display: inline-block;
	border-radius: 50px;
	transition: all .3s;
}
input.btn2:hover,
button.btn2:hover,
a.btn2:hover{
	background: #FFFFFF;
	color: #1980e4;
	transition: all .3s;
}

@media only screen and (max-width: 700px) {
	.btn{
		margin: 30px 0 0 0;
	}
	.btn_entry input,
	.btn_entry button,
	.btn_entry a{
		width: 100%;
	}
	.btn_confirm input,
	.btn_confirm button,
	.btn_confirm a{
		width: 100%;
		margin: 0 0 20px 0;
	}
	input.btn1,
	button.btn1,
	a.btn1{
		font-size: 14px;
		padding: 15px 0;
	}
	input.btn2,
	button.btn2,
	a.btn2{
		font-size: 14px;
		padding: 15px 0;
	}
}

#payjp_checkout_box{
	display: inline-block!important;
}
#payjp_checkout_box input{
	border:solid 3px #1980e4!important;
	background: #1980e4!important;
	color: #FFFFFF!important;
	text-decoration: none!important;
	font-size: 18px!important;
	font-weight: bold!important;
	padding: 20px 0!important;
	display: inline-block!important;
	border-radius: 50px!important;
	transition: all .3s!important;
}
#payjp_checkout_box input:hover{
	background: #FFFFFF!important;
	color: #1980e4!important;
	transition: all .3s!important;
}
@media only screen and (max-width: 700px) {
	#payjp_checkout_box input{
		width: 100%;
	}
	#payjp_checkout_box input{
		width: 100%!important;
		margin: 0 0 20px 0!important;
	}
	#payjp_checkout_box input{
		font-size: 14px!important;
	}
	#payjp_checkout_box{
		display: block!important;
	}
}




/*------------------------------------------------------------------------------------------------------------------------*/
/* レポート*/
/*------------------------------------------------------------------------------------------------------------------------*/
/*一覧*/
#report .search .box{
	background: #f8f8f8;
}
#report .search .box input[type="text"]{
	width:calc(100% - 100px);
}
#report .search .box .search_btn{
	width:50px;
	background: url(../images/icn_search01.png) no-repeat center center;
	background-size: 20px;
	text-indent: -99999px;
	border:none;
	height: 50px;
	transition: all .3s;
}
#report .search .search_btn:hover{
	background: url(../images/icn_search02.png) no-repeat center center;
	background-size: 20px;
	transition: all .3s;
}
#report .list .list_box{
	border-bottom:solid 1px #CCCCCC;
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
}
#report .list .list_box a:hover{
	opacity: 0.5;
	transition: all .3s;
	text-decoration: none;
}
#report .list .list_box .date{
	width:200px;
	display: inline-block;
	vertical-align: top;
}
#report .list .list_box dl{
	width:calc(100% - 220px);
	display: inline-block;
	vertical-align: top;
	margin: 0;
}
#report .list .list_box dt{
	font-size: 18px;
	font-weight: bold;
	margin:  0 0 10px 0;
}
#report .list .list_box dd{
	font-size: 13px;
	margin: 0;
}
#report .pagenav{
	margin: 50px 0;
	text-align: center;
}
#report .pagenav li{
	display: inline-block;
	margin: 0 10px;
	font-weight: bold;
	font-size: 14px;
	color: #1980e4;
}
#report .pagenav li a:link,
#report .pagenav li a:visited{
	color: #333333;
}
#report .pagenav li a:hover{
	color: #999999;
	text-decoration: none;
	transition: all .3s;
}
#report .pagenav li.prev,
#report .pagenav li.next{
	text-indent: -9999px;
	width: 50px;
}
#report .pagenav li.prev a,
#report .pagenav li.next a{
	display: block;
	height: 20px;
}
#report .pagenav li.prev{
	background: url(../images/arrow01.png) no-repeat center left;
	background-size: 16px;
	float: left;
}
#report .pagenav li.prev:hover{
	background: url(../images/arrow03.png) no-repeat center left;
	background-size: 16px;
	transition: all .3s;
}
#report .pagenav li.next{
	background: url(../images/arrow02.png) no-repeat center right;
	background-size: 16px;
	float: right;
}
#report .pagenav li.next:hover{
	background: url(../images/arrow04.png) no-repeat center right;
	background-size: 16px;
	transition: all .3s;
}
@media only screen and (max-width: 700px) {
	#report .list .list_box{
		margin: 0 0 20px 0;
		padding: 0 0 20px 0;
	}
	#report .list .list_box .date{
		width:100%;
		display: block;
		margin: 0 0 10px 0;
	}
	#report .list .list_box dl{
		width:100%;
		display: block;
	}
	#report .list .list_box dt{
		font-size: 15px;
	}
	#report .list .list_box dd{
		font-size: 12px;
		margin: 0;
	}
	#report .pagenav{
		margin: 30px 0;
	}
	#report .pagenav li{
		margin: 0 5px;
		font-size: 13px;
	}
	#report .pagenav li.prev,
	#report .pagenav li.next{
		width: 20px;
	}
	#report .pagenav li.prev{
		background: url(../images/arrow01.png) no-repeat center left;
		background-size: 12px;
	}
	#report .pagenav li.prev:hover{
		background: url(../images/arrow03.png) no-repeat center left;
		background-size: 12px;
	}
	#report .pagenav li.next{
		background: url(../images/arrow02.png) no-repeat center right;
		background-size: 12px;
	}
	#report .pagenav li.next:hover{
		background: url(../images/arrow04.png) no-repeat center right;
		background-size: 12px;
	}
}

/*詳細*/
#report .detail{
	max-width:820px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
#report .detail .date{
	font-weight: bold;
	color: #1980e4;
	margin: 0 0 40px 0;
}
#report .detail h2{
	font-size:26px;
	font-weight: bold;
	margin: 0 0 40px 0;
	padding: 0 0 40px 0;
	border-bottom:solid 1px #CCCCCC;
}
#report .detail p{
	margin: 40px 0;
}
#report .detail h3{
	position: relative;
	font-size: 26px;
	padding-bottom: 20px;
	margin-top: 1.8em;
	margin-bottom: 1.8em;
}
#report .detail h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #EEEEEE;
}
#report .detail h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 2px;
    background: #1980e4;
    z-index: 1;
}
#report .back{
	text-align: center;
	margin: 80px 0 0 0;
	padding: 50px 0 0 0;
	border-top: solid 1px #CCCCCC;
}
#report .back a{
	display: inline-block;
	background: url(../images/arrow01.png) no-repeat center left;
	background-size: 16px;
	padding: 0 0 0 25px;
}
#report .back a:hover{
	background: url(../images/arrow03.png) no-repeat center left;
	background-size: 16px;
	text-decoration: none;
}
@media only screen and (max-width: 700px) {
	#report .detail .date{
		margin: 0 0 30px 0;
	}
	#report .detail h2{
		font-size:22px;
		margin: 0 0 30px 0;
		padding: 0 0 30px 0;
	}
	#report .detail h3{
		font-size: 20px;
	}
	#report .detail p{
		margin: 30px 0;
	}
}
@media only screen and (max-width: 500px) {
	#report .detail .date{
		margin: 0 0 20px 0;
	}
	#report .detail h2{
		font-size:18px;
		margin: 0 0 20px 0;
		padding: 0 0 20px 0;
	}
	#report .detail h3{
		font-size: 16px;
	}
	#report .detail p{
		margin: 20px 0;
	}
}

/*------------------------------------------------------------------------------------------------------------------------*/
/* info ポリシー、利用規約 */
/*------------------------------------------------------------------------------------------------------------------------*/
#info{
	font-size:	14px;
}
#info h2{
	margin: 50px 0 0 0;
	font-size: 20px;
	font-weight: bold;
}
#info ol,
#info ul{
    margin: 5px 0 40px;
    padding-left: 20px;
}
#info ul.indent{
	padding-left: 0px;
}
#info ul.indent>li{
	list-style: none;
	text-indent: -2.3rem;
    margin-left: 2.3rem;
}
#info ol>li{
	list-style: decimal;
	margin-left: 10px;
}
#info ul.roman>li{
	list-style: lower-roman;
	text-indent: 0;
	margin: 0;
}
@media only screen and (max-width: 800px) {
	#info{
		font-size:	13px;
	}
	#info h2{
		margin: 30px 0 0 0;
		font-size: 16px;
	}
	#info ol,
	#info ul{
		margin: 5px 0 20px;
	}
	#info ul.indent{
		padding-left: 0px;
	}
}
