@charset "utf-8";

/* 共通コンテンツ
(01)base   ベース
(02)header   ヘッダー
(03)footer  フッター
(04)contents   メインコンテンツ
(00)etc　その他
 */
 
/*------------------------------------------------------------------------------------------------------------------------*/
/* デスクトップレイアウト : 769 px ～ 最大　                                                                              */
@media only screen and (max-width: 950px) {
}
/*------------------------------------------------------------------------------------------------------------------------*/
 
/* (01)base
--------------------------------------*/
img, object, embed, video {
	max-width: 100%;
}
a{ color:#006CD8; text-decoration:none;}
a:link{ color:#006CD8; text-decoration:none;}
a:hover{ color:#006CD8; text-decoration: underline;}

a img:hover{opacity: 0.8;}

a:focus, *:focus { outline:none; }

@media only screen and (max-width: 600px) {
	.tal_sp{ text-align:left;}
}
.br_sp  { display:none}
.br_pc  { display:inherit;}
@media only screen and (max-width: 600px) {
	.br_sp  { display:inherit}
	.br_pc  { display:none;}
}

p{
	font-size:14px;
}

span.hissu{
	color:#0F4150;
	font-size:12px;
	font-weight:bold;
	background:#FDDE43;
	border-radius:10px;
	padding:2px 8px 1px;
	margin:0 0 0 10px;
}

p.error{
	font-size:13px!important;
	color:#F33!important;
	margin:5px 0 0 0;
	display:block!important;
}
p.error:empty{
	display:none!important;
}


/* (02)header
--------------------------------------*/
header{
	background:#627077;
	height:50px;
	position:fixed;
	width:100%;
	min-width:980px;
	top:0;
	z-index:99;
	color:#FFFFFF;
	text-align:left;
	font-size:0;
}
header h1{
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	margin: 0 10px 0 0;
	padding: 0 25px;
	border-right:solid 2px #8E999D;
	height: 50px;
}
header h1 img{
	margin:15px 0 0 0;
	width:68px;
}
header p.shopname{
	margin:24px 20px 0 20px;
	display:inline-block;
	font-size:14px;
	vertical-align:middle;
	float:right;
}
header p.logout{
	margin:24px 30px 0 20px;
	padding:2px 0 0 28px;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	vertical-align:middle;
	float:right;
	background:url(../../images/admin/icn_logout.png) no-repeat center left;
	background-size:19px;
}
header p.logout a:link,
header p.logout a:visited{
	color:#222222;
	text-decoration:none;
}
header p.logout a:hover{
	color:#222222;
	text-decoration:underline;
}
/**/
header nav{
	display: inline-block;
	vertical-align: bottom;
}
header .dropmenu{
	*zoom: 1;
	list-style-type: none;
	margin: 0 10px 0 0;
	padding: 0;
}
header .dropmenu:before,
header .dropmenu:after{
	content: "";
	display: table;
}
header .dropmenu:after{
	clear: both;
}
header .dropmenu li{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}
header .dropmenu li>a,
header .dropmenu li>span{
	display: block;
	margin: 0 5px 0 0;
	padding: 15px 15px 11px 15px;
	background: #B7BDC0;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
	border-radius: 3px 3px 0 0;
}
header nav ul.dropmenu li.menu1>a,
header nav ul.dropmenu li.menu1>span{
	background: url(../../images/admin/icn_dashboad01.png) no-repeat left 15px center #B7BDC0;
	background-size: 18px;
	padding: 15px 15px 11px 45px;
}
header nav ul.dropmenu li.menu2>a,
header nav ul.dropmenu li.menu2>span{
	background: url(../../images/admin/icn_cart01.png) no-repeat left 15px center #B7BDC0;
	background-size: 16px;
	padding: 15px 15px 11px 45px;
}
header nav ul.dropmenu li.menu3>a,
header nav ul.dropmenu li.menu3>span{
	background: url(../../images/admin/icn_mail01.png) no-repeat left 15px center #B7BDC0;
	background-size: 16px;
	padding: 15px 15px 11px 45px;
}
header nav ul.dropmenu li.menu4>a,
header nav ul.dropmenu li.menu4>span{
	background: url(../../images/admin/icn_item01.png) no-repeat left 15px center #B7BDC0;
	background-size: 18px;
	padding: 15px 15px 11px 45px;
}
header nav ul.dropmenu li.menu5>a,
header nav ul.dropmenu li.menu5>span{
	background: url(../../images/admin/icn_cms01.png) no-repeat left 15px center #B7BDC0;
	background-size: 16px;
	padding: 15px 15px 11px 45px;
}
header nav ul.dropmenu li a:hover,
header nav ul.dropmenu li span:hover,
header nav ul.dropmenu li.active>a,
header nav ul.dropmenu li.active>span{
	background: #EEF0F4;
	color: #333333;
}
header nav ul.dropmenu li.menu1>a:hover,
header nav ul.dropmenu li.menu1>span:hover,
header nav ul.dropmenu li.menu1.active>a,
header nav ul.dropmenu li.menu1.active>span{
	background: url(../../images/admin/icn_dashboad02.png) no-repeat left 15px center #EEF0F4;
	background-size: 18px;
	padding: 15px 15px 11px 45px;
}
header .dropmenu li.menu2>a:hover,
header .dropmenu li.menu2>span:hover,
header .dropmenu li.menu2.active>a,
header .dropmenu li.menu2.active>span{
	background: url(../../images/admin/icn_cart02.png) no-repeat left 15px center #EEF0F4;
	background-size: 16px;
	padding: 15px 15px 11px 45px;
}
header .dropmenu li.menu3>a:hover,
header .dropmenu li.menu3>span:hover,
header .dropmenu li.menu3.active>a,
header .dropmenu li.menu3.active>span{
	background: url(../../images/admin/icn_mail02.png) no-repeat left 15px center #EEF0F4;
	background-size: 16px;
	padding: 15px 15px 11px 45px;
}
header .dropmenu li.menu4>a:hover,
header .dropmenu li.menu4>span:hover,
header .dropmenu li.menu4.active>a,
header .dropmenu li.menu4.active>span{
	background: url(../../images/admin/icn_item02.png) no-repeat left 15px center #EEF0F4;
	background-size: 18px;
	padding: 15px 15px 11px 45px;
}
header .dropmenu li.menu5>a:hover,
header .dropmenu li.menu5>span:hover,
header .dropmenu li.menu5.active>a,
header .dropmenu li.menu5.active>span{
	background: url(../../images/admin/icn_cms02.png) no-repeat left 15px center #EEF0F4;
	background-size: 16px;
	padding: 15px 15px 11px 45px;
}
header .dropmenu li ul{
	list-style: none;
	position: absolute;
	z-index: 9999;
	left: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	top: 50%;
	visibility: hidden;
	transition: .5s;
	width: 180px;
}
header .dropmenu li ul li{
	width: 100%;
}
header .dropmenu li ul li a{
	padding: 25px 15px;
	border-bottom: 1px solid #FFFFFF;
	background: #C2C8CB;
	text-align: left;
	border-radius: 0;
}
header .dropmenu li:hover ul{
	top: 100%;
	visibility: visible;
	opacity: 1;
}
/**/
header .config{
	border-left:solid 2px #8E999D;
	text-indent: -99999px;
	background: url(../../images/admin/icn_config01.png) no-repeat center center;
	background-size: 23px;
	display: inline-block;
	width: 50px;
	vertical-align: bottom;
	float: right;
}
header .config a{
	display: block;
	height: 50px;
}
header .config:hover{
	opacity: 0.8;
}
header .name{
	border-left:solid 2px #8E999D;
	display: inline-block;
	width: auto;
	vertical-align: bottom;
	float: right;
}
header .name .dropmenu li{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}
header .name .dropmenu li>a,
header .name .dropmenu li>span{
	padding: 20px 30px 17px 15px;
	background: url(../../images/admin/arrow02.png) no-repeat right 10px center;
	background-size: 10px;
	color: #FFFFFF;
	border-radius: 0;
	border-right:solid 2px #8E999D;
}
header .name .dropmenu li ul{
	right: 0;
	left: inherit;
}
header .name .dropmenu li ul li a{
	background: #718189;
	border-right:none;
}
header .name .dropmenu li ul li a:hover,
header .name .dropmenu li ul li span:hover{
	background: #8497A0;
}



/* (03)footer
--------------------------------------*/
#contents footer{
	background:#6D7B82;
	color:#FFFFFF;
	clear:both;
	overflow:hidden;
	padding:15px 30px;
}
#contents footer a:link   { color:#FFFFFF; text-decoration:none;}
#contents footer a:visited{ color:#FFFFFF; text-decoration:none;}
#contents footer a:hover  { color:#FFFFFF; text-decoration:underline;}
#contents footer ul{
	display:inline-block;
	font-size:12px;
}
#contents footer li{
	display:inline-block;
	margin:0;
}
#contents footer li::after{
	content:"｜";
	padding: 0 10px;
}
#contents footer li:last-child::after{
	content:"";
}
#contents footer .copy{
	text-align:right;
	font-size:12px;
	display: inline-block;
	float: right;
}


/* (04)contents
--------------------------------------*/
#contents{
	width:100%;
	margin:50px auto 0 auto;
	min-width:980px;
	position: relative;
}
#contents #main{
	max-width:1200px;
	margin:0 auto;
	padding:20px;
	min-height:800px;
}
#contents #main section{
	margin:0 0 20px 0;
	padding: 20px;
	background: #FFFFFF;
	border-radius: 5px;
}



/* (00)etc　その他
--------------------------------------*/
.w1p{ width:1%!important;}
.w2p{ width:2%!important;}
.w3p{ width:3%!important;}
.w4p{ width:4%!important;}
.w5p{ width:5%!important;}
.w6p{ width:6%!important;}
.w7p{ width:7%!important;}
.w8p{ width:8%!important;}
.w9p{ width:9%!important;}
.w10p{ width:10%!important;}
.w11p{ width:11%!important;}
.w12p{ width:12%!important;}
.w13p{ width:13%!important;}
.w14p{ width:14%!important;}
.w15p{ width:15%!important;}
.w16p{ width:16%!important;}
.w17p{ width:17%!important;}
.w18p{ width:18%!important;}
.w19p{ width:19%!important;}
.w20p{ width:20%!important;}
.w21p{ width:21%!important;}
.w22p{ width:22%!important;}
.w23p{ width:23%!important;}
.w24p{ width:24%!important;}
.w25p{ width:25%!important;}
.w26p{ width:26%!important;}
.w27p{ width:27%!important;}
.w28p{ width:28%!important;}
.w29p{ width:29%!important;}
.w30p{ width:30%!important;}
.w31p{ width:31%!important;}
.w32p{ width:32%!important;}
.w33p{ width:33%!important;}
.w34p{ width:34%!important;}
.w35p{ width:35%!important;}
.w36p{ width:36%!important;}
.w37p{ width:37%!important;}
.w38p{ width:38%!important;}
.w39p{ width:39%!important;}
.w40p{ width:40%!important;}
.w41p{ width:41%!important;}
.w42p{ width:42%!important;}
.w43p{ width:43%!important;}
.w44p{ width:44%!important;}
.w45p{ width:45%!important;}
.w46p{ width:46%!important;}
.w47p{ width:47%!important;}
.w48p{ width:48%!important;}
.w49p{ width:49%!important;}
.w50p{ width:50%!important;}
.w51p{ width:51%!important;}
.w52p{ width:52%!important;}
.w53p{ width:53%!important;}
.w54p{ width:54%!important;}
.w55p{ width:55%!important;}
.w56p{ width:56%!important;}
.w57p{ width:57%!important;}
.w58p{ width:58%!important;}
.w59p{ width:59%!important;}
.w60p{ width:60%!important;}
.w61p{ width:61%!important;}
.w62p{ width:62%!important;}
.w63p{ width:63%!important;}
.w64p{ width:64%!important;}
.w65p{ width:65%!important;}
.w66p{ width:66%!important;}
.w67p{ width:67%!important;}
.w68p{ width:68%!important;}
.w69p{ width:69%!important;}
.w70p{ width:70%!important;}
.w71p{ width:71%!important;}
.w72p{ width:72%!important;}
.w73p{ width:73%!important;}
.w74p{ width:74%!important;}
.w75p{ width:75%!important;}
.w76p{ width:76%!important;}
.w77p{ width:77%!important;}
.w78p{ width:78%!important;}
.w79p{ width:79%!important;}
.w80p{ width:80%!important;}
.w81p{ width:81%!important;}
.w82p{ width:82%!important;}
.w83p{ width:83%!important;}
.w84p{ width:84%!important;}
.w85p{ width:85%!important;}
.w86p{ width:86%!important;}
.w87p{ width:87%!important;}
.w88p{ width:88%!important;}
.w89p{ width:89%!important;}
.w90p{ width:90%!important;}
.w91p{ width:91%!important;}
.w92p{ width:92%!important;}
.w93p{ width:93%!important;}
.w94p{ width:94%!important;}
.w95p{ width:95%!important;}
.w96p{ width:96%!important;}
.w97p{ width:97%!important;}
.w98p{ width:98%!important;}
.w99p{ width:99%!important;}
.w100p{ width:100%!important;}

.w10{ width:10px!important;}
.w20{ width:20px!important;}
.w30{ width:30px!important;}
.w40{ width:40px!important;}
.w50{ width:50px!important;}
.w60{ width:60px!important;}
.w70{ width:70px!important;}
.w80{ width:80px!important;}
.w90{ width:90px!important;}
.w100{ width:100px!important;}
.w110{ width:110px!important;}
.w120{ width:120px!important;}
.w130{ width:130px!important;}
.w140{ width:140px!important;}
.w150{ width:150px!important;}
.w160{ width:160px!important;}
.w170{ width:170px!important;}
.w180{ width:180px!important;}
.w190{ width:190px!important;}
.w200{ width:200px!important;}
.w250{ width:250px!important;}
.w300{ width:300px!important;}
.w350{ width:350px!important;}
.w400{ width:400px!important;}
.w450{ width:450px!important;}
.w500{ width:500px!important;}
.w550{ width:550px!important;}
.w600{ width:600px!important;}
.w650{ width:650px!important;}
.w700{ width:700px!important;}
.w750{ width:750px!important;}
.w800{ width:800px!important;}
.w850{ width:850px!important;}
.w900{ width:900px!important;}

.h10{ height:10px!important;}
.h50{ height:0px!important;}
.h100{ height:100px!important;}
.h150{ height:150px!important;}
.h200{ height:200px!important;}

/* margin-top */
.mt5{ margin-top:5px!important;}
.mt10{ margin-top:10px!important;}
.mt20{ margin-top:20px!important;}
.mt30{ margin-top:30px!important;}
.mt40{ margin-top:40px!important;}
.mt50{ margin-top:50px!important;}
.mt60{ margin-top:60px!important;}
.mt70{ margin-top:70px!important;}
.mt80{ margin-top:80px!important;}
.mt90{ margin-top:90px!important;}
.mt100{ margin-top:100px!important;}

/* margin-left */
.ml5{ margin-left:5px!important;}
.ml10{ margin-left:10px!important;}
.ml20{ margin-left:20px!important;}
.ml30{ margin-left:30px!important;}
.ml40{ margin-left:40px!important;}
.ml50{ margin-left:50px!important;}
.ml60{ margin-left:60px!important;}
.ml70{ margin-left:70px!important;}
.ml80{ margin-left:80px!important;}
.ml90{ margin-left:90px!important;}
.ml100{ margin-left:100px!important;}

/* margin-right */
.mr5{ margin-right:5px!important;}
.mr10{ margin-right:10px!important;}
.mr20{ margin-right:20px!important;}
.mr30{ margin-right:30px!important;}
.mr40{ margin-right:40px!important;}
.mr50{ margin-right:50px!important;}
.mr60{ margin-right:60px!important;}
.mr70{ margin-right:70px!important;}
.mr80{ margin-right:80px!important;}
.mr90{ margin-right:90px!important;}
.mr100{ margin-right:100px!important;}

/* margin-bottom*/
.mb5{ margin-bottom:5px!important;}
.mb10{ margin-bottom:10px!important;}
.mb20{ margin-bottom:20px!important;}
.mb30{ margin-bottom:30px!important;}
.mb40{ margin-bottom:40px!important;}
.mb50{ margin-bottom:50px!important;}
.mb60{ margin-bottom:60px!important;}
.mb70{ margin-bottom:70px!important;}
.mb80{ margin-bottom:80px!important;}
.mb90{ margin-bottom:90px!important;}
.mb100{ margin-bottom:100px!important;}

/* color */
.red01{ color:#FF7373;}
.red02{ color:#F66;}
.green01{ color:#65BA76;}
.blue01{ color:#4294B8;}

.error{  color:#FF2626;}

/* font-size */
.font12{ font-size:12px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font18{ font-size:18px;}
.font20{ font-size:20px;}
.font22{ font-size:22px;}

.strong{ font-weight:bold;}

/* text-align */
.tal{ text-align:left;}
.tac{ text-align:center;}
.tar{ text-align:right;}

/* float */
.floatl{ float: left;}
.floatr{ float:right;}