@charset "utf-8";

/* 各ページコンテンツ

(01)message メッセージ
(02)title_box タイトル
(03)form フォームパーツ
(04)button　ボタン
(05)search_box　検索ボックス
(06)btn_box　ボタンボックス
(07)pagenav ページャー
(08)table　テーブルレイアウト
(09)step　 ステップ
(10)tab タブ
(11)scroll　スクロール
(12)dropzone　ドロップゾーン
(13)nav_box　メニュー
(00)login　ログイン

*/
 

/* (01)message
----------------------------------------------------------------------------*/
#message{
	position: fixed;
	top:60px;
	right: 10px;
	width: 400px;
	z-index: 100;
}
#message .msg1,
#message .msg2,
#message .msg3,
#message .msg4{
	border-radius: 5px;
	margin: 0 0 10px 0;
	padding: 20px 20px 20px 70px;
	color: #FFFFFF;
	font-size: 14px;
}
#message .msg1{
	background: url(../../images/admin/icn_msg01.png) no-repeat left 20px center #EA6B5D;
	background-size: 32px;
	border:solid 2px #DA5F52;
}
#message .msg2{
	background: url(../../images/admin/icn_msg02.png) no-repeat left 20px center #4FC4A0;
	background-size: 32px;
	border:solid 2px #41B590;
}
#message .msg3{
	background: url(../../images/admin/icn_msg03.png) no-repeat left 20px center #FEAF57;
	background-size: 34px;
	border:solid 2px #F8A24A;
}
#message .msg4{
	background: url(../../images/admin/icn_msg04.png) no-repeat left 20px center #4BACE0;
	background-size: 32px;
	border:solid 2px #3C95C9;
}

/* (02)title_box
----------------------------------------------------------------------------*/
/*h2title*/
.title_box{
	background: #FFFFFF;
}
.title_box h2{
	font-size: 22px;
}
.title_box p{
	margin: 10px 0 0 0;
}
.title_box p:empty{
	display:none!important;
}
/*h3title*/
.title_box2{
	font-size: 18px;
	display: inline-block;
}


/* (03)form
----------------------------------------------------------------------------*/
/* テキスト */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime-local"],
input[type="number"]{
	border:solid 1px #CCC9BF;
	border-radius:3px;
	padding:7px;
	width:calc(100% - 20px);
	font-size:14px;
	-webkit-appearance: none;
    -moz-appearance: none;
}
td.name input{
	margin:0px 5px 5px 0!important;
}
td.add input{
	margin:10px 5px 0 0;
}
/* セレクト */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:url(../../images/admin/arrow01.png) center right 10px no-repeat #FFFFFF;
	background-size:11px;
    border:1px solid #CCC9BF;
	border-radius:5px;
	padding:7px 35px 7px 7px;
	font-family: "メイリオ","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:14px;
	margin:0 5px 0 0;
}
@-moz-document url-prefix() { /* for firefox */
    select {
        background:none;
        background:url(../../images/admin/arrow01.png) center right 10px no-repeat #FFFFFF;
		background-size:11px;
    }
}
select::-ms-expand {
	display: none;
}
select[multiple]{
	background: #FFFFFF;
}
td.add select{
	margin:10px 5px 0 0!important;
}

@media only screen and (max-width: 600px) {
	select {
		font-size:16px;
	}
}
/* テキストエリア */
textarea{
	border:solid 1px #CCC9BF;
	border-radius:3px;
	padding:7px;
	width:calc(100% - 16px);
	-webkit-appearance: none;
    -moz-appearance: none;
}
/* ラジオボタン */
label.radio {
	cursor:pointer;
	position:relative;
	overflow:hidden;
	display:inline-block;
	margin:0 20px 0 0;
	padding:2px 0 2px 30px;
}
label.radio:before {
	position:absolute;
	width:22px;
	height:22px;
	border:1px solid #CCC9BF;
	border-radius:50%;
	top: 0;
	left:0px;
	content:'';
	z-index:1;
}
label.radio:after {
	content:'';
	position:absolute;
	width:14px;
	height:14px;
	border-radius:100%;
	left:0;
	top:0;
	background-color:#52BDD5;
	z-index:0;
	border:solid 5px #FFFFFF;
}
label.radio input[type="radio"] {
	-moz-appearance:none;
	-webkit-appearance:none;
	position:absolute;
	z-index:1;
	width:18px;
	height:18px;
	left:-25px;
	top:0px;
	margin:0px;
	box-shadow:29px 4px #FFFFFF;
	border-radius:10px;
}
label.radio input[type="radio"]:checked {
	box-shadow:none;
}
label.radio input[type="radio"]:focus {
	opacity:0.2;
	box-shadow:26px 2px #FFF;
}
/* チェックボックス */
input[type=checkbox]{
	display: none;
	margin: 0;
}
input[type=checkbox] + label{
	padding: 2px 10px 0 27px;
	position:relative;
	cursor: pointer;
}
input[type=checkbox] + label::before{
	content: "";
	position: absolute;
	top: 9px;
	left: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	margin-top: -7px;
	background: #FFF;
	border: 1px solid #CCC9BF;
	border-radius:2px;
}
input[type=checkbox]:checked + label::after{
	content: "";
	position: absolute;
	top: 10px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	left: 2px;
	width: 16px;
	height: 10px;
	margin-top: -6px;
	border-left: 2px solid #52BDD5;
	border-bottom: 2px solid #52BDD5;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/* ダミー */
input[name="dummypass"]{
	visibility:hidden;
	position:absolute;
}


/* (04)button
----------------------------------------------------------------------------*/
/* ボタン-共通 ----------------------- */
.btn,
.btn:link,
.btn:visited{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-weight:bold;
	display: inline-block;
	text-align:center;
	border:none;
	color:#FFFFFF;
	transition:background 0.5s ease 0s;
	background-color:#52BDD5;
}
.btn:hover{
	background-color:#449DB1;
	color:#FFFFFF;
	border:none;
	transition:background 0.2s ease 0s,color 0.2s ease 0s ;
	text-decoration: none;
}
/* ボタン-サイズ ----------------------- */
/* ボタンL */
.btn.l{
	font-size:16px;
	padding:15px 20px;
}
/* ボタンM */
.btn.m{
	font-size: 14px;
	padding:8px 15px;
}
/* ボタンS */
.btn.s{
	font-size: 12px;
	padding:5px 10px;
}

/* ボタン-カラー ----------------------- */
/* グレー1 */
.btn.gry1{background-color:#414A4F;}
.btn.gry1:hover{background-color:#191C1F;}
/* グレー2*/
.btn.gry2{background-color:#627077;}
.btn.gry2:hover{background-color:#434C51;}
/* グレー3 */
.btn.gry3{background-color:#AAAAAA;}
.btn.gry3:hover{background-color:#888888;}
/* 青1 */
.btn.blu1{background-color:#52BDD5;}
.btn.blu1:hover{background-color:#449DB1;}
/* 青2 */
.btn.blu2{background-color:#43A3DD;}
.btn.blu2:hover{background-color:#3787B6;}
/* 緑1 */
.btn.gre1{background-color:#47BE98;}
.btn.gre1:hover{background-color:#389B7C;}
/* 赤1 */
.btn.red1{background-color:#E8574B;}
.btn.red1:hover{background-color:#C2493E;}

/* ボタン-アイコン ----------------------- */
/* 矢印-左 */
.btn.arrow_l{
	background-image: url(../../images/admin/arrow05.png);
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: 6px;
	padding-left: 30px; 
}
/* 矢印-右 */
.btn.arrow_r{
	background-image: url(../../images/admin/arrow04.png);
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 6px;
	padding-right: 30px; 
}
/* 矢印-右2 */
.btn.arrow_r2{
	background-image: url(../../images/admin/arrow06.png);
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 11px;
	padding-right: 30px; 
}
/* 矢印-右2 */
.btn.arrow_r2{
	background-image: url(../../images/admin/arrow06.png);
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 11px;
	padding-right: 30px; 
}
/* カート */
.btn.cart{
	background-image: url(../../images/admin/icn_cart01.png);
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: 16px;
	padding-left: 35px; 
}
/* メール */
.btn.mail{
	background-image: url(../../images/admin/icn_mail01.png);
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: 16px;
	padding-left: 35px; 
}
/* 削除 */
.btn.delete{
	background-image: url(../../images/admin/icn_delete01.png);
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: 16px;
	padding-left: 35px; 
}
/* 追加 */
.btn.plus{
	background-image: url(../../images/admin/icn_plus01.png);
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: 16px;
	padding-left: 35px; 
}
/* アップロード */
.btn.up{
	background-image: url(../../images/admin/icn_up01.png);
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: 14px;
	padding-left: 35px; 
}
/* ダウンロード */
.btn.dl{
	background-image: url(../../images/admin/icn_dl01.png);
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: 14px;
	padding-left: 35px; 
}
/* 検索*/
.btn.search{
	background-image: url(../../images/admin/icn_search02.png);
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: 16px;
	padding-left: 35px; 
}


/* (05)search_box
----------------------------------------------------------------------------*/
.search_box{
	background: #EEF0F4;
	padding: 20px;
	border-radius: 5px;
	overflow: hidden;
	font-size: 0;
}
.search_box input[type="text"].search{
	width: calc(100% - 190px);
	margin: 0 10px 0 0 ;
	padding-left:40px; 
	background: url(../../images/admin/icn_search01.png) no-repeat left 10px center #FFFFFF;
	background-size: 20px;
}
/* 詳細検索 */
.search_box .row{
	font-size: 14px;
	margin: 20px 0 0 0;
	padding: 10px 0 0 0;
	display: none;
	border-top:solid 1px #BBBBBB;
}
.search_box .open{
	text-align: right;
	cursor: pointer;
	margin: 10px 0 0 0;
	padding: 0 25px 0 0;
	position: relative;
	font-size: 12px;
	display: inline-block;
	float: right;
}
.search_box .open::after{
	content: "";
	background: url(../../images/admin/arrow02.png) no-repeat center center #414A4F;
	background-size: 10px;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	position: absolute;
	right: 0;
}
.search_box .open.active{
	margin: 0;
}
.search_box .open.active::after{
	content: "";
	background: url(../../images/admin/arrow03.png) no-repeat center center #414A4F;
	background-size: 10px;
	height: 18px;
	width: 18px;
	border-radius: 2px;
	position: absolute;
	right: 0;
}
/**/
.search_box .inbox dl{
	font-size: 0;
}
.search_box .inbox dt{
	margin:0 0 10px 0;
	padding:10px 0 0 0;
	font-weight:bold;
	color:#113946;
	display:inline-block;
	width:150px;
	vertical-align:top;
	font-size:14px;
}
.search_box .inbox dd{
	display:inline-block;
	width:calc(100% - 150px);
	margin:0 0 10px 0;
	vertical-align:top;
	font-size:14px;
}
.search_box .inbox dl:last-of-type dt,
.search_box .inbox dl:last-of-type dd{
	margin: 0;
}
.search_box .inbox dd li{
	display:inline-block;
	margin:10px 20px 5px 0;
	vertical-align:top;
}
.search_box .inbox dd label.radio{
	margin:10px 20px 0 0;
}
.search_box .inbox dd input[type="text"]{
	width:calc(100% - 14px);
}
.search_box .inbox dd.type img{
	margin:0 5px 0 0;
	vertical-align:middle;
	width:18px;
}
.search_box .ui-datepicker-trigger{
	width:16px;
	vertical-align:middle;
}
/* 1列 */
.search_box .box1{
	font-size: 14px;
}
/* 2列 */
.search_box .box2{
	display:inline-block;
	width: calc((100% - 30px) / 2);
	margin: 0 30px 0 0;
	font-size: 14px;
	vertical-align: top;
	
}
.search_box .box2:nth-child(2){
	margin: 0;
}
.search_box .box2 dd li{
	margin:10px 20px 5px 0;
	width: 50%;
	max-width: 160px;
}


/* (06)btn_box
----------------------------------------------------------------------------*/
.btn_box{
	background: #DEDFE3;
	padding: 10px;
	border-radius: 5px;
}


/* (07)pagenav
----------------------------------------------------------------------------*/
/*pagenav1*/
.pagenav1{
	margin:0 0 0 0;
	vertical-align:middle;
}
.pagenav1 ul{
	font-size:0;
	vertical-align:middle;
}
.pagenav1 ul li{
	font-size:14px;
	display:inline-block;
	width:auto;
	margin:0 10px 0 0;
	border:solid 1px #7E9CAE;
	vertical-align:middle;
	background:#FFFFFF;
}
.pagenav1 ul li.next{
	margin:0;
}
.pagenav1 ul li.prev,
.pagenav1 ul li.next{
	width:30px;
	height:30px;
	border:none;
	background:none;
}
.pagenav1 ul li.prev:hover,
.pagenav1 ul li.next:hover{
	background:none;
	opacity:0.5;
}
.pagenav1 ul li a,
.pagenav1 ul li span{
	display:block;
	vertical-align:middle;
	padding:5px 10px 4px;
}
.pagenav1 ul li span,
.pagenav1 ul li:hover{
	background:#7E9CAE;
	color:#FFFFFF;
}
.pagenav1 ul li a:link   { color:#143A46; text-decoration:none;}
.pagenav1 ul li a:visited{ color:#143A46; text-decoration:none;}
.pagenav1 ul li a:hover  { color:#143A46; text-decoration:none;}

/*pagenav2*/
.pagenav2{
	text-align: right;
}
.pagenav2 .itemcount{
	display: inline-block;
	font-size: 12px;
	margin: 0 20px 0 0;
}
.pagenav2 .itemcount span{
	font-size: 14px;
	font-weight: bold;
}
.pagenav2 .pager{
	display: inline-block;
}
.pagenav2 .pager select{
    background:url(../../images/admin/arrow01.png) center right 10px no-repeat #FFFFFF;
	background-size:7px;
	border-radius:3px;
	padding:7px 25px 7px 7px;
	font-size:12px;
	margin:0 5px 0 0;
}
@-moz-document url-prefix() { /* for firefox */
    .pagenav2 .pager select {
        background:none;
        background:url(../../images/admin/arrow01.png) center right 10px no-repeat #FFFFFF;
		background-size:7px;
    }
}
.pagenav2 .pager select+p{
	display: inline-block;
	font-size: 12px;
}



/* (08)table
----------------------------------------------------------------------------*/
table.table1{
    margin: 0 0 0 0;
	border:solid 1px #AAAAAA;
	font-size:1.4rem;
	width:100%;
	background:#FFFFFF;
}
table.table1 th{
	background:#DEDFE3;
	padding:10px 10px;
	border-right: solid 1px #AAAAAA;
	text-align:center;
	color:#333333;
	font-weight:bold;
	font-size:14px;
	position: relative;
}
table.table1 td{
	padding:10px 10px 5px 10px;
	border-right: solid 1px #AAAAAA;
	border-top:solid 1px #AAAAAA;
	vertical-align:top;
}
table.table1 th .arrow1,
table.table1 th .arrow2{
	position: absolute;
	right:5px;
	top:13px;
	border-radius: 2px;
	height: 14px;
	width: 14px;
}
table.table1 th .arrow1{
	background: url(../../images/admin/arrow01.png) no-repeat center center #FFFFFF;
	background-size: 7px;
}
table.table1 th .arrow2{
	background: url(../../images/admin/arrow08.png) no-repeat center center #FFFFFF;
	background-size: 7px;
}

/**/
table.table2{
	border-bottom:solid 1px #AAAAAA;
	background: #FFFFFF;
	width: 100%;
}
table.table2 tr{
	border-top: solid 1px #AAAAAA;
}
table.table2 th{
	padding:25px 10px 15px 20px;
	text-align:left;
	color:#224347;
	font-weight:bold;
	font-size:14px;
	border-right:none;
	width:250px;
	vertical-align:top;
}
table.table2 td{
	padding:25px 10px 20px 20px;
	border-right: none;
	border-top:none;
	vertical-align:top;
	font-size:14px;
}
table.table2 td input,
table.table2 td select,
table.table2 td textarea{
	margin-top: -5px;
}
table.table2.confirm td{
	padding:15px 10px 15px 20px;
}
table.table2 td.confirm{
	padding:15px 10px 15px 20px;
}
table.table2 th span.hissu{
	float:right;
}



/* (09)step
----------------------------------------------------------------------------*/
.step ul{
	font-size: 0;
}
.step li{
	display: inline-block;
	border-radius: 20px;
	background: #EEEEEE;
	color: #867896;
	font-size: 14px;
	font-weight: bold;
	margin: 0 30px 0 0;
	padding: 3px 15px;
	position: relative;
}
.step li:last-child{
	margin: 0;
}
.step li.active{
	color: #FFFFFF;
	background: #9A7FFF;
}
.step li::after{
	content:"";
	background: url(../../images/admin/arrow07.png) no-repeat center center;
	background-size: 8px;
	height: 20px;
	width: 30px;
	position: absolute;
	right: -30px;
}
.step li:last-child::after{
	background: none;
	width: 0;
}


/* (10)tab
----------------------------------------------------------------------------*/
.tab_box{
	padding: 0!important;
	background: none!important;
	margin-top: 65px!important;
}
.tab_box .hide {
	display: none;
}
.tab_box .tab_contents {
	margin: 30px 0 30px 0;
	padding: 20px;
	position: relative;
	background: #FFFFFF;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.tab_box .tab_contents > ul {
	position: absolute;
	top: -47px;
	left: -2px;
	width: 100%;
}
.tab_box .tab_contents > ul > li {
	display: inline-block;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0 5px 0 2px;
	padding: 20px 0 2px 0;
	cursor: pointer;
	width: 18%;
	max-width: 160px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background: #DFDFDF;
	color: #867896;
	height: 25px;
	line-height: 100%;
	vertical-align: middle;
}
.tab_box .tab_contents > ul > li.select {
	background: #FFFFFF;
	color: #3D2F7A;
}
.tab_box .tab_contents > ul > li.error {
	background: #F8B4AB;
	color: #FFFFFF;
	font-weight: bold;
}



/* (11)scroll
----------------------------------------------------------------------------*/

.scroll{
	overflow:auto;
	/* overflow-x:auto; overflow-y:hidden;横方向の処理（横スクロールバーを消す）*/
	/* overflow-y:auto; overflow-x:hidden;縦方向の処理（縦スクロールバーを消す）*/
	height:140px;
	padding: 20px 10px 20px 20px;
	background:#FFFFFF;
	border:solid 1px #82949D;
	font-size:14px;
}


/* (12)dropzone
----------------------------------------------------------------------------*/
.dropzone{
	border: dashed 2px #9A7FFF;
	width: 100%;
	text-align: center;
	padding: 100px;
	font-size: 30px;
}


/* (13)nav_box
--------------------------------------*/
.nav_box a{ text-decoration:none;}
.nav_box a:link{ text-decoration:none;}
.nav_box a:hover{ text-decoration: none;}
.nav_box ul{
	font-size: 0;
}
.nav_box li{
	font-size: 13px;
	display: inline-block;
	margin: 20px 20px 0 0;
	border:solid 1px #AAAAAA;
	border-radius: 5px;
	width: calc((100% - 68px) / 4);
	vertical-align: top;
}
.nav_box li:nth-child(4n){
	margin-right:0;
}
.nav_box li:nth-child(1),
.nav_box li:nth-child(2),
.nav_box li:nth-child(3),
.nav_box li:nth-child(4){
	margin-top:0;
}
.nav_box li a{
	display: block;
	padding: 15px 15px;
	height: calc(100% - 30px);
}
.nav_box li a:hover{
	opacity: 0.5;
}
.nav_box li p.name{
	background: url(../../images/admin/arrow09.png) no-repeat left center;
	background-size: 6px;
	padding: 0 0 0 15px;
	font-size: 15px;
	font-weight: bold;
}
.nav_box li a:link p.name,
.nav_box li a:visited p.name,
.nav_box li a:hover p.name{
	color:#52BDD4;
	text-decoration: none;
}
.nav_box li a:link p,
.nav_box li a:visited p,
.nav_box li a:hover p{
	text-decoration: none;
	color: #333333;
}
.nav_box li p.sub_text{
	font-size: 13px;
}




/* (00)login
--------------------------------------*/
#contents #main.login{
	max-width:350px;
	margin:50px auto 100px;
	padding:30px;
	min-height:auto;
	text-align:center;
}
.login h2{
	margin:50px 0 40px 0;
	font-size: 28px;
}
.login .loginbox{
	background:#FFFFFF;
	margin:0 0 40px 0;
	padding:40px;
	font-size:16px;
	border-radius: 5px;
}
.login .loginbox dl{
	margin:0 0 10px 0;
}
.login .loginbox dt{
	display:block;
	color:#333333;
	font-size: 13px;
	font-weight:bold;
	vertical-align:top;
	padding:5px 0 0 0;
	text-align: left;
}
.login .loginbox dd{
	display:block;
	width:100%;
}
#contents #main.login+footer{
	position: fixed;
	bottom: 0;
	width: calc(100% - 60px);
}




